    body {
            background: #fcfcfc;
    }

    .player {
            position: absolute;
            left: 50px;
			top: 50px;
            
            z-index: 100;
            background: url(postac.jpg);
            display: block;
            width: 50px;
            height: 50px;
    }

    #map {
            position: relative;
            z-index: 0;
            border: 1px solid black;
			background: url(mapa.jpg);
            display: block;
            overflow: auto
    }

    .walk {
            display: block;
            width: 50px;
            height: 50px;
           background: silver;
            float: left;
    }

    .wall {
            display: block;
            width: 50px;
            height: 50px;
			
            background: gray;
            float: left;
    }
	
	.door {
            display: block;
            width: 50px;
            height: 50px;
            background: #6b3b31;
            float: left;
    }

    .clear {
            clear: left;
    }
	
	#randomnumber {
			width: 20px;
			height: 20px;
			border-top-style:dotted;
			border-bottom-style:dotted;
			border-left-style:dotted;
			border-right-style:dotted;
	}

   /* #output {
            clear:both;
           
    }*/